Django~=4.2
django-auth-ldap~=4.6
python-ldap~=3.4
django-taggit~=5.0
django-tinymce==3.4.0
psycopg2-binary~=2.9
# Updates for Django 2
git+https://github.com/metamatik/django-templatetag-sugar.git
# Updates for Django 2
git+https://github.com/elpaso/django-ratings.git@modernize
django-taggit-autosuggest~=0.4
django-annoying~=0.10
# Updates for Django 2
git+https://github.com/elpaso/rpc4django.git@modernize
Pillow~=10.1
django-taggit-templatetags
# Updates for Django 2
git+https://github.com/elpaso/django-simplemenu.git@modernize
django-bootstrap-pagination~=1.7
django-sortable-listview~=0.43
sorl-thumbnail~=12.10
django-extensions~=3.2
django-debug-toolbar~=4.2
whoosh~=2.7
django-haystack~=3.2